/* /* h1{
    color:red;
    background-color: aqua;
    text-align: center;
    font-weight: 900; /*100 to 900*/
    /* text-decoration: red overline;
    text-decoration-style: double; */
/* }
*/ 
/*p{
    color:black;
    /*background-color:pink;*/
    /* font-weight:400;
     text-decoration:pink underline ;
     text-decoration-style: wavy;
     line-height: 1.5;
     letter-spacing: 2px; */
    /* font-size: 10px;*/
     /* font-family: didot; */
    /* also can be bolder and lighter*/
/* }
h2{
    font-weight:600;
    
} */
/* button{
    color:yellow;
} */
/* a{
    text-decoration: none;
    /*line remove*/
/* }   */ 
/* div {
    height: 100px;
    width: 100px;
    /* border: 2px solid black; */
    /* background-color: rgba(165, 42, 42, 0.7); */
    /* transition-duration:2s; */
    /* margin: 0 auto;
    transition: margin-top 2s ease-in 0.2s; */
/* } */

/* div:hover {
    margin-top: 400px;
     background-color: aqua; */
     /* border-radius: 50%; */
     
/* }  */

 div { 
    height: 100px;
    width: 100px;
    /* border: 2px solid black; */
    background-color: rgba(165, 42, 42, 0.7);
    /* transition-duration:2s; */
     margin: 10px auto;
     text-align: center;
     box-shadow: 2px 2px 10px rgb(24, 2, 6);
    /* transition: margin-top 2s ease-in 0.2s; */ 
    background-image: url("/beautiful-autumn-lifestyle.jpg");
    background-size: cover;
}