*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.main_box {
    /* width: 100%; */
    height: 100vh;
    background: url("photo.jpg");
    background-size:  cover;
}
.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    left: 10px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu{
    position: absolute;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 2px 6px rgba(255,255,255,0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 4px rgba(255,255,255,0.2);
    
}
.sidebar_menu .logo a{
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    left: 80px;
    top: 17px;
}
.sidebar_menu .btn_two i{
    left: 275px;
    color: grey;
     font-size: 20px;
    font-weight: 500;
    position: absolute;
    line-height: 60px;
    /* opacity: 0; */
    cursor: pointer;
}
.sidebar_menu .menu{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 80px;
}
.sidebar_menu .menu li{
    padding: 14px 20px;
    margin-left: 20px;
}
.sidebar_menu .menu li:hover{
     box-shadow: 0 0 4px rgba(255,255,255,0.2);
}
.sidebar_menu .menu i,a{
    color:white;
    text-decoration:none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
   bottom: 20px;
    position: absolute;
    left: 25%;
    
}
.sidebar_menu .social_media i{
    
     color: white;
    opacity: 0.5;
    padding: 0 5px;
}
.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.1);
    
}
#check{
    display: none;
}
.btn_one:hover{
   font-size: 40px;
}
.btn_two:hover{
   font-size: 40px;
}
#check:checked ~ .sidebar_menu {
   left: 0;
}
#check:checked ~.btn_one i{
    opacity: 0;
}