div {
    height:200px;
    width: 500px;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-top-right-radius: 20px;
    padding-top: 50px;
    /* border: 5px solid yellow;
    border-top: 5px dashed blueviolet; */
}
h1 {
    /* border-width: 2px;
    border-style: dotted;
    border-color: aqua; */
    border: 5px dotted green;

}
button {
    border: 2px solid red;
    border-radius: 10px;
    /* padding-left: 25px;
    padding-right: 25px; */
    padding: 25px;
    background-color: yellow;
}