div {
    height:200px;
    width: 500px;
    background-color: pink;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 30px 100px;
    border-top-right-radius: 20px;
    /* border: 5px solid yellow;
    border-top: 5px dashed blueviolet; */
}
h1 {
    /* border-width: 2px;
    border-style: dotted;
    border-color: aqua; */
    border: 5px dotted green;

}
