#maintopic {
    color: blue;
}
* {
    text-align: center;
}
.myclass {
    font-style: georgia;
}
p {
    color: white;
    background-color: cornflowerblue;
}
div button {
    background-color: purple;
    color: azure;
}
button:hover {
    background-color: yellow;
    color: blue;
}
p:nth-of-type(2n+1) {
    color: yellow;
}
h1::first-letter {
   color: brown;
}
#yes:checked +label {
    color:darkgreen;
}
