#box1 ,#box2 ,#box3  {
    width: 200px;
    height: 100px;
    background-color: black;

}
#box1:hover {
    width: 600px;
    background-color: yellowgreen;
    transition:  2s ease-in-out 0.5s;
}
#box2 {
    transform: translate(200px,200px),rotate(90deg);
}
#box3 {
    transform: skew(20deg);
}
