#container {
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
#container div {
    height:100px;
    width:100px;
    border-radius: 10%;
    border: 2px solid black;
    background-color: grey;
    font-size: 50px;
    text-align: center;

}
