#box {
    height: 300px;
    width: 60%;
    background-color: white;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    align-content: flex-start;

}
#box div {
   height: 100px;
   width: 300px;

}
#violet {
  align-self: baseline;
  /* flex-basis: 50%; */
  /* flex-basis: 50px; */
  /* flex-grow: 2; */
  /* min-width: 300px; */
  flex-shrink:3;
}
#yellow {
    /* flex-grow: 1; */
    flex-shrink: 1;
}