h1{
    color:#d6510a;
    text-align: center;
    text-decoration: double underline;
    text-decoration-color: blue;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-transform: uppercase;
    font-family: league system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}