div {
    background-color:yellow;
   
}
/* form {
    background-color: red;
} */
input {
    background-color: inherit;
}
button:hover  {
    background-color:black;
    color: red;
}

/*
h1:hover {
   color: red;
   background-color: hotpink;
}*/