* {
    font-family:'Courier New';
    /*background-color: blue;*/
}
h1,h3 {
    color:#b92b27;
}
#login {
    background-color: white;
}
#signup/*id*/ {
    background: #b92b27;
}
.upvote /*class*/{
    background-color: green;
    color: aqua;
}
p a {
    color: purple;
    background-color: yellow; 
}
nav ul li a{
    color: pink;
}
p + h3 {
    text-decoration: underline;
}
.upvote + button {
    background-color: rgb(45, 91, 182);
}
div[id="myid"] p {
    color: green;
}
button:hover {
    background-color: black;
    color: white;
}
h3:hover {
    text-decoration: none;
}
button:active {
    background-color: hotpink;
}
p:active {
    font-weight: 900;
    color: green;
}
input[type="radio"]:checked + label {
    color: red;
    font: bold;
}
div:nth-of-type(3n) {
    background-color:hotpink;
}
h1::first-letter {
    color: violet;
}
h3 {
    background-color: blue;
}
h3 {
    background-color: yellow;
}