.card {
    width: 200px;
   
    border: 5px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 18px black;
}
/* img {
    width: 100%;
    border-top: 5px 5px 0 0 ;  
    object-fit: cover;
} */
 .card img {
    width: 100%;
    height: 250px;   /* set any height you want */
    object-fit: cover;  /* makes the image fill the box without distortion */
    border-radius: 10px;
}

.desp {
    padding: 0 2px 0 2px;
}
.card:hover {
     box-shadow: 0 8px 32px yellow;
     transition: 1s;
}
