.face {
    width: 400px;
    height: 400px;
    background-color: orange;
    border-radius: 50%;
}
.mouth {
    width: 200px;
    height: 70px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}
.lefteye, .righteye {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}
.righteye {
    left:250px ;
}
.nose {
    width: 50px;
    height :50px;
     border-radius: 100px 100px 0 0; 
    background-color: rgb(213, 118, 9);
    position: absolute;
    top: 180px;
    left: 180px;
}