div {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: green;
    text-align: center;
    margin: 10px;
    display: inline-block;
}
#static {
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}
#relative {
      background-color: yellow;
    position: relative;
    top: 100px;
    left: 100px;
}
#absoulte {
      background-color: yellow;
    position:absolute;
    top: 100px;
    left: 100px;
}
#fixed {
     background-color: yellow;
    position:fixed;
    top: 100px;
    left: 100px;
}